@tailwind base;
/* Override base SVG style to work with Ant Design 
https://stackoverflow.com/questions/60853067/how-to-solve-ant-design-base-css-and-tailwindcss-base-css-alignments-problem
*/
svg {
  vertical-align: initial;
}
@tailwind components;

:root {
  --trangle-len: 1em;
}

.tooltip {
  @apply relative 
  flex flex-col items-center justify-between;
}

.tip-icon {
  width: 1em;
  height: 1em;
  @apply flex relative items-center justify-center
  text-gray-600 font-normal p-1
  font-medium cursor-pointer  mx-1
  bg-slate-300 rounded-lg;
}
.tip-icon:hover {
  @apply bg-slate-400;
}
.tip-icon:hover + .tip-message {
  transition: 0.8s ease;
  @apply opacity-100 visible;
}

.tip-message::before {
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  left: calc(50%- var(--trangle-len) /2);
  top: -0.3em;
  @apply bg-gray-400 flex
  transform rotate-45;
}

.tip-message {
  top: calc(100% + var(--trangle-len) /2);
  min-width: 10em;
  @apply absolute flex flex-wrap
  h-fit z-10 bg-gray-400
  justify-center max-w-fit
  rounded-xl w-auto p-1;
  opacity: 0;
}

@tailwind utilities;
